@using AnketToplamaMerkezi.EntityLayer.Concrete;
@using AnketToplamaMerkezi.EntityLayer.Concrete.Enum;
@using AnketToplamaMerkezi.EntityLayer.Concrete.Model
@model FootballSurveyAnswersModel
@{
    ViewData["Title"] = "OpenSurveyAnswers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.SurveyName</h1>

<form asp-controller="SavedSurveyInformation" asp-action="Index" method="get">
    <!-- Input and Submit elements -->
    <input readonly name="Id" type="hidden" value=@Model.Id><br />
    <input readonly name="SurveyId" type="hidden" value=@Model.SurveyId><br /><br />
    <h5>Ankete Katılan Kişi</h5>
    <ol>
        <div>
        <li>
            <div><label readonly asp-for="PersonName">Adı :</label>   </div>
            <div><input readonly type="text" asp-for="PersonName" /> <br /></div>
        </li>
        </div>

        <li>
            <label readonly asp-for="PersonSurname">Soyadı :</label>
            <input readonly type="text" asp-for="PersonSurname" /> <br />
        </li>
        <li>
            <label readonly asp-for="PersonGender">Cinsiyeti :</label>
            <select readonly asp-for="PersonGender"
                    asp-items="Html.GetEnumSelectList<Gender>()">
            </select> <br />
        </li>
        <li>
            <label readonly asp-for="PersonBirhDate">Doğum Tarihi :</label>
            <input readonly type="date" asp-for="PersonBirhDate" /> <br />
        </li>
        <li>
            <label readonly asp-for="Description">Açıklaması :</label>
            <input readonly type="text" asp-for="Description" /> <br />
        </li>
        <li>
            <label readonly asp-for="FavoriteTeam">Tuttuğunuz Takım:</label>
            <select readonly asp-for="FavoriteTeam"
                    asp-items="Html.GetEnumSelectList<Teams>()">
            </select><br />
        </li>
    </ol>

    <h5>Anketörün :</h5>
    <label readonly asp-for="PollsterName">Adı:</label>
    <input asp-for="PollsterName" readonly type="text" value=@Model.PollsterName><br />
    <label readonly asp-for="PollsterSurname">Soyadı:</label>
    <input asp-for="PollsterSurname" readonly type="text" value=@Model.PollsterSurname><br />
    <button type="submit">Tamam</button>
</form>

